.right-sidebar-list {
    padding: 20px 15px;
}

.right-sidebar-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;

    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 500;
    padding: 12px 10px;
    border-radius: 7px;
    cursor: pointer;

    transition: background 0.1s;
}
/* See more button */
.right-sidebar-list li:last-child {
    background: rgb(48, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 10px;
}
.right-sidebar-list li:last-child .see-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 14px;
}

.right-sidebar-list li:hover {
    background: #3A3B3C;
}
.right-sidebar-list li:active {
    background: rgb(67, 69, 70);
}

.right-sidebar-list li svg {
    margin-right: 13px;
}
